<mat-card class="person-card"  *ngIf=person (click)="navigateToPersonDetail(person.name)">
    <mat-card-header>
      <!-- <div mat-card-avatar class="person-card-avatar" ></div> -->
      <mat-card-title >{{ person.name }}</mat-card-title>
      <mat-card-subtitle>Current Rank: {{ person.currentRank || 'Civilian'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Current Duty Title: {{ person.currentDutyTitle || 'Sir'}}</p>
      <p>Career Start Date: {{ (person.careerStartDate  | date:'mediumDate') || 'TBD'}}</p>
      <p *ngIf=person.careerStartDate>Career End Date: {{ (person.careerEndDate  | date:'mediumDate' ) || 'Still Active'}}</p>
      <p *ngIf=!person.careerStartDate>Career End Date: {{ (person.careerEndDate  | date:'mediumDate' ) || 'Not Enlisted'}}</p>
      </mat-card-content>
  </mat-card>