.example-spacer {
    flex: 1 1 auto;
  }
  .mat-mdc-button:not(:disabled) {
    color: #fafafa;
}
/* Styling for the secondary (sub) toolbar */
.secondary-toolbar {
  background-color: #f0f0f0; /* Lighter background color for the secondary toolbar */
  color: #333; /* Dark text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Optional: Make buttons on the toolbar larger or modify their spacing */
mat-toolbar button {
  margin-right: 10px;
}

/* Content styling */
.content {
  padding: 16px;
}

/* app.component.css */

/* Ensure the page takes up the full height */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer Styling */
.app-footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: auto; /* Push footer to the bottom */
  color: #555;
}

mat-toolbar {
  z-index: 1; /* Ensure toolbar stays on top of other content */
}